<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- For Android 13 (API 33) and above -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!--
         For older versions (below API 33).
         The maxSdkVersion attribute ensures that this permission is only requested
         on devices running Android 12L (API 32) or lower.
    -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!--
         Optional: For Android 14 (API 34) and above, if you want to support
         the user granting access to only selected photos.
         See: https://developer.android.com/about/versions/14/changes/partial-photo-video-access
    -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <!-- Declare camera permission -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!--
         Declare that your app uses the camera feature.
         This is important for filtering on app stores.
         android:required="true" means the app won't install on devices without a camera.
         Set to "false" if the camera is an optional feature.
    -->
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Compressify">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.compressify.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>